// fonts

.logo-font{
    font-size: $font-2xl;
    font-weight:  bold;
    font-family: $cairo_famliy;
}
.font-4xl{
    font-size: $font-4xl;
    font-weight: bold;
}
.font-3xl{
    font-size: $font-3xl;
    font-weight: normal;
}
.font-2xl{
    font-size: $font-2xl;
}
.font-xl{
    font-size: $font-xl;
}
.font-lg{
    font-size: $font-lg;
}
.font-md{
    font-size: $font-md;
}
.font-sm{
    font-size: $font-sm;
}
.font-xs{
    font-size: $font-xs;
}