// primary colors 
$primary-green :#00C89B ;
$primary-blue :#373483 ;
$primary-pink :#CD657C ;
$primary-light-pink :#F4ECFF ;

// secondary colors
$scondary-blue: rgba(86, 204, 242, 0.43); 

$scondary-green: rgba(89, 242, 86, 0.43); 

$scondary-pink: rgba(242, 86, 86, 0.43);


// borders
$lg-border :184px;
$md-border :33px;
$sm-border :12px;

// direction
$direction : rtl ;



// fonts size
$font-4xl : 48px;
$font-3xl : 40px ;
$font-2xl : 36px ;
$font-xl : 32px ;
$font-lg : 24px ;
$font-md : 20px ;
$font-sm : 16px ;
$font-xs : 14px ;


// shadows

$lg-shadow : 0px 4px 30px -10px rgba(0, 0, 0, 0.25) ;

// motaah Illstration
$motaah-lg: 600px;

$motaah-circile-color-black: black;